*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #e78873;
}

h1{
    color: #ffff;
    margin-top: 10%;
    margin-left: 5%;
    font-family: 'Noto Sans', sans-serif;
    
}

h2{
    color: #ffff;
    margin-top: 10%;
    margin-left: 25%;
    font-family: 'Noto Sans', sans-serif;
    }

h3{
    font-size: 200%;
    color: #ffff;
    margin-top: 10%;
    margin-left: 25%;
    font-family: 'Noto Sans', sans-serif;
}

h4{
    color: #ffff;
    margin-left: 25%;
    font-family: 'Noto Sans', sans-serif;
}

h5{
    color: #ffff;
    font-size: 30px;
    margin-left: 80%;
    font-family: 'Fredoka One', cursive;
}

h6{
    color: #ffff;
    font-size: 50px;
    margin-top: 25%;
    margin-left: 5%;
    font-family: 'Fredoka One', cursive;
}

hr{
    color: white; 
    height: 2px;
    background-color: white;
}

img{ 
    width: 410px;
    margin-left: 25%;
    margin-top: 11px;
    border-radius: 8px;
    
}